body {
	font-family: sans-serif;
	line-height: 1.4;
}
textarea {
	width: 100%;
	line-height: 1.2;
	font-family: monospace;
}

#form-tokens .saved {
	color: green;
	font-weight: bold;
}
#form-tokens:not(.saved) .saved {
	display: none;
}

#form-test #msg-test-result {
	color: #bbb;
}
#form-test.result #msg-test-result {
	color: black;
}
#form-test:not(.result) #msg-test-result {
	transition: color 1000ms linear;
}
